@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This program will display the greater value of the square root of 2 numbers</p>
    <form>
        <input placeholder=" Enter a number" name="firstnum" />
        <input placeholder=" Enter a number" name="secondnum" /><br /><br />
        <button class="btn btn-primary">Submit</button>
    </form>

</div>
